/* Para telas de 0px a 570px */
@media screen and (max-width: 570px) {
  .container-small-card {
    margin-left:10px;
    margin-right:10px;
    width: 400px;
    margin-bottom: 15px;
  
  }
  .container-small-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .small-card-photo > img {
    margin-left:25px;
    margin-top:10px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .small-card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.5rem;
    margin-top:10px;
  }
  .container-separador {
    margin-top: 10px;
  }
}

/* Para telas de 571px a 990px */
@media screen and (min-width: 571px) and (max-width: 990px) {
}

/* Para telas de 991px a 1200px */
@media screen and (min-width: 991px) and (max-width: 1200px) {
  .container-menu > h1 {
    font-size: 70px;
    text-align: center;
  }
}

/* Para telas maiores que 1200px */
@media screen and (min-width: 1201px) {
  .container-menu > h1 {
    font-size: 100px;
    text-align: center;
  }
}
